    <div class="col-md-12 col-lg-6 col-xl-5 mx-auto mb-4">

      <section class="form-gradient">

        <%# ALERT %>      

        <% if @event %>
          <% if @event.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <p>Nous n'avons pas réussi à créer ton évènement pour la (ou les) raison(s) suivante(s) :</p>
            <ul>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        <%end%>


        <%= form_with(model: @event, url: event_index_path, method: "post", local: true) do |f| %>
        
          <%= label_tag(:event_title, "Titre de l'évènement :") %>
          <%= f.text_field :event_title, class: 'form-control', value: @event.title %>

          <%= label_tag(:event_description, "Description de l'évènement :") %>
          <%= f.text_area :event_description, class: 'form-control', value: @event.description %>

          <%= label_tag(:event_start_date, "Début de l'évènement :") %>
          <%= f.datetime_local_field :event_start_date, class: 'form-control', value: @event.start_date %>

          <%= label_tag(:event_duration, "Durée de l'évènement (en minutes, évidemment ;-D) :") %>
          <%= f.text_field :event_duration, class: 'form-control', value: @event.duration %>

          <%= label_tag(:event_location, "Lieu de l'évènement :") %>
          <%= f.text_field :event_location, class: 'form-control', value: @event.location %>
          <br />
          <%= label_tag(:event_price, "Prix de l'évènement :") %>
          <%= f.text_field :event_price, class: 'form-control', value: @event.price %>
    
          <%= f.submit "Balance ton évènement !"%>
        </div>
        <%end%>

        
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
              
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Evènement envoyé !<br>Si tu as bien rempli ton Event, tu seras redirigé vers l'accueil </h5>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>

                </div>


                <div class="modal-body"></div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>

              </div>

            </div>
          </div>
            

      </section>
    </div>
