
<% if current_user.id == params[:id].to_i%>
<%@user = current_user %>

<h1> Tes informations personnelles : </h1>
<p>
Prénom : <%= @user.first_name %>
<br />
Nom : <%= @user.last_name %>
<br />
Description : <%= @user.description %>
</p>

<%= link_to "Changer mes informations personnelles ", edit_user_path %>

______________________________________________

<h3> Tes informations de connexion : </h3>
Email : <%= @user_email %>
<br />
<%= link_to "Changer mes informations de connexion", edit_user_registration_path %>
<br />

______________________________________________
<br />
<h3> Les évènements que j'organise : </h3>

<%event_organised_by_user_array = Event.where(admin_id: @user.id)%>

<%event_organised_by_user_array.each do |event| %>
        <div class="card m-3 " style="width: 18rem;">
          <div class="card-body ">
            <h5 class="card-title"> <%= event.title %></h5>
            <% admin_id = event.admin_id%>
            <% author_name = User.find(admin_id).first_name %>
            <h6> de: <%= author_name %> </h6>
            <h6> A: <%= event.location %> </h6>
            <p class="card-text"> <%= event.description %></p> 
            <a href="/event/<%= event.id %>">Voir les détails de cet évènement</a>
          </div>
        </div>
      <% end %>


<%= link_to "Back", :back %>



<%else%>

<h2>Vous n'êtes pas autorisés à consulter les informations personnelles d'un autre membre ! </h2>

<%= link_to "Retour à l'accueil", event_index_path %>

<% end %>
