<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

<body>





<% if current_user.id == params[:id].to_i%>
<%@user = current_user %>

<h1> Tes informations personnelles : </h1>
<p>
Prénom : <%= @user.first_name %>
<br />
Nom : <%= @user.last_name %>
<br />
Description : <%= @user.description %>
</p>

<%= link_to "Changer mes informations personnelles ", edit_user_path %>

______________________________________________

<h3> Tes informations de connexion : </h3>
Email : <%= @user_email %>
<br />
<%= link_to "Changer mes informations de connexion", edit_user_registration_path %>
<br />
<%= link_to "Back", :back %>
<%else%>


<%@user = User.find(params[:id].to_i) %>

<h1> Tes informations personnelles : </h1>
<p>
Prénom : <%= @user.first_name %>
<br />
Nom : <%= @user.last_name %>
<br />
Description : <%= @user.description %>
</p>

<%= link_to "Changer mes informations personnelles ", edit_user_path %>

______________________________________________

<h3> Tes informations de connexion : </h3>
Email : <%= @user_email %>
<br />
<%= link_to "Changer mes informations de connexion", edit_user_registration_path %>
<br />
<%= link_to "Back", :back %>

<% end %>
